<div class="row">
  <div class="col-md-10">
      <h2 class="text-center">Registrar Cargo</h2>
      <form [formGroup]="validarForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-8"> 
          <label for="carnombre">Cargo:</label>
          <input autocomplete="off" formControlName="carnombre" placeholder="Cargo" name="carnombre" class="form-control" id="carnombre" required>
        </div>
        <div class="form-group col-md-8">
            <div class="">
                <button class="btn btn-success">Guardar</button> &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="volver_listado_cargo()">Regresar</button>
            </div>
        </div>
      </form>
    </div>
</div>